body {
    background-color: #293038;
    color: #abb2bf;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.title {
    line-height: 22px;
    font-size: 150%;
    padding: 2rem 0;
}

.message {
    font-size: 120%;

}